@model UserLoginViewModel

<div class="card shadow p-4 mt-4">
    
    <h3 class="mb-3">Login</h3>
    
    <form asp-action="Login" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Email" class="control-label"><i class="bi-person-fill"></i> Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Password" class="control-label"><i class="bi-shield-lock-fill"></i> Password</label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <input type="submit" value="Login" class="btn btn-primary" />
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>

    </form>

    <div class="mt-4">
        Need an Account? <a asp-controller="User" asp-action="Register">Register here</a>
    </div>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
