@model UserManageViewModel

<div class="card shadow p-4 mt-4">

    <h3 class="mb-3">Update Profile</h3>

    <form asp-action="UpdateProfile" method="post">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="Id" type="hidden" />

        <div class="form-group">
            <label asp-for="Name" class="control-label"><i class="bi-person-fill"></i> Name</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Email" class="control-label"><i class="bi-envelope-fill"></i> Email</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <label asp-for="Role" class="control-label"><i class="bi-person-badge-fill"></i> Role</label>
            <select asp-for="Role" asp-items="Html.GetEnumSelectList<Role>()" class="form-control">
                <option>Select Role</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>

        <div class="form-group mt-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            <a class="btn btn-secondary" asp-controller="Home" asp-action="Index">Cancel</a>
        </div>

    </form>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
